@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --muted: 0 0% 7%;
    --muted-foreground: 215 20% 65%;
    --muted-border: 230 7% 16%;

    --border: 210 10% 23%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;

    --muted: 0 0% 7%;
    --muted-foreground: 215 20% 65%;
    --muted-border: 230 7% 16%;

    --border: 210 10% 23%;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
